.navbar-container {
  height: 10vh;
  width: 100vw;
  background-color: #9796f0;
  display: flex;
  justify-content: space-between;
}

.logo-name-container {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-logo {
  height: 30px;
  width: 30px;
}

.app-name {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.scores-container {
  width: 20vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
